            /*imports*/

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

#mappe2 {
    float: left;
    padding-top: 6%;
    padding-bottom: 6%;
    padding-left: 4%;
}

                /*general */

*{
    margin: 0;
}


                /*---------------------------inizio sezione 1------------------------*/


.firstS{
    width: 100%;
    height: 20%;        
    background-image: url('http://provafateicapricci.altervista.org/immagini/foto3.jpg');
    padding-top: 10%;
    padding-bottom: 3%;
    background-position: center;
    background-size:     cover;
    
}

/*div loghi*/

.loghiD { 
    width: 20%;
    height: 15%;
    float: right;
    margin-top: -5%;


}



.logo1{
    width: 50%;
    float: right;
   
    

}

.real {

    height: 100%;
    width: 50%;
    float: right;
    padding-right:1%;    
}


.ghost {
  padding-top: 3%;   
  width: 97%;
  height: 100%;  
  padding-right:3%; 
    
    

}
/*titolo 1 fateicapricci*/

.div1 {
    
    color: white;
    width: 45%;
    background-color: brown;
    margin-bottom: 3%;
    margin-left: 10%;
    border-left: 5px solid #f28509;
    transition-duration: 2s;
    box-shadow:2px 2px 3px #2d2d2d;
    border-radius:0 3px 3px 0;
}


/*titolo 2 frase ad effetto*/

.div2 {
    color: white;
    margin-left: 10%;
    width: 55%;
    background-color: brown;
    border-left: 5px solid #f28509;
    box-shadow:2px 2px 3px #2d2d2d;
    border-radius:0 3px 3px 0;
}

/*container bottone negozio*/
#Btncont{
 
    margin-top:7%;
}


/*div bottone negozio effettivo*/
#btn {
    
    color:white;
    font-family: Ubuntu;
    font-size:30px;
    border:4px solid brown;
    border-left:4px solid #f28509;
    background-color: brown;
    height:60px;
    width:200px; 
    cursor:pointer; 
    
}

/*hover bottone negozio*/
#btn:hover{
    
    background-color:transparent;
    color:#f28509;
    transition-duration: 0.3s;
}


#btn:focus {
    outline:none;
}

#abtn {

    text-decoration: none;
    color: white;    
}




/*div contente le icone socials*/

.divIcons {
    width: 112px;
    height: 5%;
    padding-right:0.5%; 
    float: right;
}

/*icona instagram e div*/

.instagramI .instagramImg {
    float: left;
    width: 50px;
    height: 50px;
    padding-right: 5%;
    -webkit-transition:0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: 0.2s ease;
}

.instagramImg:hover  {

    width: 52px;
    height: 52px;


}

/*icona facebook e div*/

.facebookI .facebookImg {
    float: right;
    width: 50px;
    height: 50px;
    -webkit-transition:0.2s ease; /* For Safari 3.1 to 6.0 */
    transition: 0.2s ease;
}
.facebookImg:hover  {

    width: 52px;
    height: 52px;


}

/*titolo div1*/
.div1 > h1 {

    text-align: left;
    padding-left: 2%;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    text-shadow:1px 1px 10px #f28509;
}

/*titolo div2*/

.div2 >h2{
    text-align: left;
    padding-left: 2%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}


/*freccia*/

.downArrow{
    
    height:80px;
    width:80px;
    text-align: center;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

/*animazione freccia*/

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

                /*----------------------------fine sezione 1---------------------------*/
                /*----------------------------inizio sezione 2-------------------------*/

.secondS {
    width: 100%;
        padding-bottom:30%; 
    background-color: rgba(0, 0, 0, 0.007) ;   
    border-bottom: 10px solid brown;
    
}

/*div descrittivo sinistro */

.D-LEFT {
    width: 55%;
    background-color: white;
    padding-bottom: 0%;
    float: left;
    margin-left: 3%; 
    margin-top: 4%; 
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}


/*paragrafo nel div descrittivo sinistro*/

#descP {
    padding: 2%;
    color: black;
    font-size: 20px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}

#titDP {

    height:40px;
    margin-left: 2%;
    margin-top:4%; 
    margin-bottom:3%;
    color: black;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    border-left:3px solid #f28509;


}

/*center gang*/

#Chi {
    
    vertical-align: middle;
    
}

            /*----------------------------fine sezione 2---------------------------*/
            /*----------------------------inizio sezione 3---------------------------*/

    .thirdS{

padding-bottom: 20%;
width: 100%;


    }
    .divMappe{
        float: right;
        margin-top : 4%;
        margin-right : 3%;
    }
       
          /*----------------------------fine sezione 3---------------------------*/
         /*----------------------------inizio sezione 4---------------------------*/

    .forthS {
        padding-bottom: 20%;
        width: 100%;

         }


    .D-RIGHT {
        
        width: 55%;
        background-color: white;
        padding-bottom: 0%;
        float: right;
        margin-top: 4%; 
        border-top: 1px solid rgba(0, 0, 0, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.3);


    }


            /*-----------------------inizio animazione freccia---------------------------*/
@-moz-keyframes bounce {
    0%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    
  }
  @-webkit-keyframes bounce {
      0%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
   
  }
  @keyframes bounce {
      0%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    
  }
/**/
/*--------------------------------------fine animazione freccia----------------------------*/

/*webkit*/

::-webkit-scrollbar { 
    display: none; 
}

/*zona adattamento risoluzione*/


.mySlides {display:none;}

/* Cellulare verticale*/

@media only screen and (max-width: 600px) {
    
    h1 {
        font-size: 25px;
    }

    h2{
        font-size: 15px;
    }

    .Descp {
        font-size: 15px;
    }

    .scrShop {
        font-size: 15px;
    }



    .firstS{
        padding-top: 8%;
        padding-bottom: 8%;
        }

    .downArrow{
        margin-top: 12%;

    }
    .downArrow > img {

        height: 32px;
        width: 32px;
    }
    
    .divIcons {
        width: 55px;
        margin-top: +4%;
    }
    
    .instagramI .instagramImg {
        margin-top: -25%;
        height: 24px;
        width: 24px;
    }
    
    .facebookI .facebookImg {
        margin-top: -25%;
        height: 24px;
        width: 24px;
    }

    .D-LEFT {
        margin-top: 10%; 
    }
    
}

/* Cellulare orizzontale*/

@media screen and (min-width: 300px) and (max-width: 850px) and (orientation:landscape) {

    .instagramI .instagramImg {
        margin-top: -10%;
    }
    
    .facebookI .facebookImg {
        margin-top: -10%;
    }


    .firstS{
        padding-top: 8%;
        padding-bottom: 8%;
        }

    .downArrow{
        margin-top: 10%;
    }

    h1 {
        font-size: 30px;
    }

    h2{
        font-size: 20px;
    }

    .Descp {
        font-size: 20px;
    }
}

/*Tablet verticale*/

@media screen and (min-width: 600px) and (max-width: 1200px) and (orientation:portrait) {

    .instagramI .instagramImg {
        margin-top: 5%;
    }
    
    .facebookI .facebookImg {
        margin-top: 5%;
    }

    .firstS{
        padding-top: 8%;
        padding-bottom: 8%;
        }

    
    .downArrow{
        margin-top: 10%;
    }
}

/*Tablet Orizzonatle*/

@media screen and (min-width: 1000px) and (max-width: 1500px) and (orientation:landscape) {

    .instagramI .instagramImg {
        margin-top: -15%;
    }
    
    .facebookI .facebookImg {
        margin-top: -15%;
    }

    .downArrow{
        margin-top: 5%;
    }
}

/*Risoluzioni varie 1600*/

@media screen and (min-width: 1600px) and (max-width: 1600px) {

    .instagramI .instagramImg {
        margin-top: -10%;
    }
    
    .facebookI .facebookImg {
        margin-top: -10%;
    }
}