@import url('https://fonts.googleapis.com/css?family=Ubuntu');




*{
    margin: 0;
}

::-webkit-scrollbar { 
    display: none; 
}

.firstS{
    width: 100%;
    height: 20%;        
    background-image: url('immagini/front.jpg');
    padding-top: 5%;
    padding-bottom: 5%;
    transition-duration: 1s;
    background-position: center;
    background-size:     cover; 
}

.secondS {
    border-top: 1px solid gray;
    background-color: wheat;
    width: 100%;
}

.secondD {

    border-top: 1px solid gray;
    background-color: wheat;
    width: 100%;
height: 35%;
}

.div1 {
    color: white;
    width: 45%;
    background-color: brown;
    margin-bottom: 3%;
    margin-left: 10%;
   
}

.div2 {
    color: white;
    margin-left: 10%;
    width: 55%;
    background-color: brown;
}

.div3{
    background-color: white;
    height: 40%;
}

.div3 > h1 {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.containerButton {
width: 100%;
    margin-top: 10%;
}

.shopB {
    border-radius: 25px;
    padding: 10px; 
    width: 11%;
    height: 4%; 
    border: 2px brown solid;
    margin: auto;
    background-color: rgba(225,225,225, 0.4);
    text-decoration: none;
    -webkit-transition: width 500ms ease-out; /* For Safari 3.1 to 6.0 */
    transition:  width 500ms ease-out;
    cursor: pointer;
}


.shopB:hover  {
    width: 13%;
}



.scrShop {
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
    color: black;
    font-size: 20px;
}
.divIcons {
    width: 110px;
    height: 5%;
    padding-right:0.5%; 
    float: right;
}

.instagramI .instagramImg {
    float: left;
    width: 50px;
    height: 50px;
    padding-right: 5%;
}

.facebookI .facebookImg {
    float: right;
    width: 50px;
    height: 50px;
}

.D-LEFT {
    width: 45%;
    height: 25%;
    background-color: white;
    border: 1px rgba(0, 0, 0, 0.3) solid;
    -webkit-transition:  background-color 1s ease; /* For Safari 3.1 to 6.0 */
    transition: background-color 1s ease;
    padding-bottom: 15%;
    float: left;
    margin-left: 5%; 
    margin-top: 5%; 
}

.D-LEFT:hover {
    background-color: rgba(0, 0, 0, 0.1);
}



.D-RIGHT {
    width: 25%;
    height: 25%;
    background-color: black;
    padding-bottom: 25%;
    float: right; 
    margin-right: 10%; 
    margin-top: 10%; 
    background-image:url(immagini/front.jpg) ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.Descp {
    padding: 3%;
    color: black;
    font-size: 35px;
    text-align: justify;
    font-family: 'Ubuntu', sans-serif;
}


h1 {
    text-align: left;
    padding-left: 2%;
    font-size: 50px;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2{
    text-align: left;
    padding-left: 2%;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
}

.downArrow{
    text-align: center;
    margin-top: 3%;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

.cart{
    width: 18%;
    margin: auto;
    padding-bottom: 5%;
}

.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}

@-moz-keyframes bounce {
    0%, 100% {
      -moz-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    
  }
  @-webkit-keyframes bounce {
      0%, 100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
   
  }
  @keyframes bounce {
      0%, 100% {
      -moz-transform: translateY(0);
      -ms-transform: translateY(0);
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
    50% {
      -moz-transform: translateY(-30px);
      -ms-transform: translateY(-30px);
      -webkit-transform: translateY(-30px);
      transform: translateY(-30px);
    }
    
  }

@media only screen and (max-width: 600px) {
    
    h1 {
        font-size: 25px;
    }

    h2{
        font-size: 15px;
    }

    .Descp {
        font-size: 15px;
    }

    .firstS{
    padding-bottom: 0%;
    }

    .scrShop {
        font-size: 15px;
    }

    .shopB {
        border-radius: 25px;
        padding: 5px; 
        width: 20%;
        height: 4%; 
    }

    .containerButton {
        width: 100%;
        margin-top: 5%;
        }

    .firstS{
        padding-top: 8%;
        padding-bottom: 8%;
        }

    .downArrow{
        margin-top: 10%;
    }

    .instagramI .instagramImg {
        margin-top: -20%;
    }
    
    .facebookI .facebookImg {
        margin-top: -20%;
    }

    .D-LEFT {
        margin-top: 10%; 
    }
}